@use '../Base.scss';

/* ------------------------------ Include Font ------------------------------ */
@font-face {
	font-family: 'Nunito-Regular';
	src: url('../fonts/Nunito-Regular.woff') format('woff');
}

/* ---------------------------- Define Variables ---------------------------- */
$base-color: #fff;
$base-bg: $base-color;
$font: 'Nunito-Regular';
$font-size: 20px;
$bg-app: #546e7a;

html {
	font-family: $font;
	font-size: $font-size;
}

body {
	background-color: $base-color;
}

.App {
	width: 100%;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 500px;
}

.App__top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: $bg-app;
	padding: 0 2rem;
	box-shadow: 0 1px 3px #777;
}

.App__title {
	flex: 1 1 100%;
	max-width: 50%;
	display: flex;
	font-size: 2.1rem;
	color: #fff;
	text-shadow: 0 1px 2px #777;
}

.App__description {
	flex: 1 1 100%;
	transform: translateY(-25px);
	color: #fff;
	font-size: 0.8rem;
	text-shadow: 0 1px 10px #777;
	line-height: 35px;
}

.App__logo {
	flex-grow: 1;
	flex: 1 1 100%;
	max-width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	transform: translateY(20px);
}

.App__logo-svg {
	height: 150px;
	animation-name: animateLogo;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-play-state: running;
	/* -o-animation-fill-mode: forwards; */
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes animateLogo {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 770px) {
	.App__top {
		flex-direction: column;
		padding: 0;
	}

	.App__logo {
		max-width: 100%;
		order: 1;
		margin-bottom: 1.5rem;
	}

	.App__logo-svg {
		height: 200px;
	}

	.App__title {
		order: 2;
		font-size: 2.1rem;
		max-width: 100%;
		margin-bottom: 2rem;
		text-align: center;
	}

	.App__description {
		order: 3;
		font-size: 0.8rem;
		text-align: center;
	}
}

@media screen and (max-width: 400px) {
	.App__top {
		flex-direction: column;
	}

	.App__logo {
		order: 1;
		margin-bottom: 1.5rem;
	}

	.App__logo-svg {
		height: 170px;
	}

	.App__title {
		order: 2;
		font-size: 1.8rem;
		max-width: 100%;
		margin-bottom: 2rem;
		text-align: center;
	}

	.App__description {
		order: 3;
		font-size: 0.75rem;
		text-align: center;
		padding: 0;
	}
}
